[run]
branch=True
source=
   outcome
   tests

[report]
precision = 1
exclude_lines =
  pragma: no cover
  abc.abstractmethod
  if TYPE_CHECKING:
  if _t.TYPE_CHECKING:
  if t.TYPE_CHECKING:
  @overload
  class .*\bProtocol\b.*\):

partial_branches =
  pragma: no branch
  if not TYPE_CHECKING:
  if not _t.TYPE_CHECKING:
  if not t.TYPE_CHECKING:
  if .* or not TYPE_CHECKING:
  if .* or not _t.TYPE_CHECKING:
  if .* or not t.TYPE_CHECKING:
